/*<!-- Navbar -->*/
.navbar {
    background-color: #459953;
}
/*<!-- Headers -->*/
h1 {
    text-align: center;
    margin: 1em;
    padding: 0;
    text-decoration: underline;
    color: #000000;
}
h3 {
    color: #efb916;
}
/*<!-- Body -->*/
body{
    font-family: "Dancing Script", cursive;
    background-color: rgba(71, 168, 28, 0.45);
}
/*<!-- Map -->*/
#map-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
#map {
    flex: 1;
    height: 100%;
    width: 97%;
    margin: 1.5em;
    align-items: center;
    box-shadow: 0 0 15px #336699;
    border-radius: 1px;
}
/*<!-- Search -->*/
#search-container {
    position: absolute;
    top: 10px;
    left: 20px;
    width: calc(100% - 80px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1px;
    border-radius: 5px;
    display: flex;
}
.search-bar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-label {
    background-color: rgba(69, 153, 83, 0.34);
    padding: 10px;
    border-radius: 5px;
}
/*<!-- Zoom 5, 15, 20 -->*/
#zoom-label {
    margin: 1em;
}
/*<!-- Forecast with parent-container -->*/
.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.forecast-day {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.forecast-card {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 15px #336699;
    background-color: #fff;
    width: 200px;
    max-width: 300px;
}
.forecast-card p {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Media query for adjusting styles for smaller screens */
@media (max-width: 600px) {
    .forecast-card {
        width: 100%; /* Take full width of the container for small screens */
    }

    /* Example styles for elements inside .forecast-card on smaller screens */
    .forecast-card h2 {
        font-size: 1em; /* Adjusted font size for smaller screens */
    }

    .forecast-card p {
        font-size: .5em; /* Adjusted font size for smaller screens */
    }
}