body{
    font-family: "Dancing Script", cursive !important;
    background-color: #000000 !important;
}

#map-container {
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: 20px;
    /*display: flex;*/
    /*flex-direction: row; !* Set the flex container to a row *!*/
}

#map {
    flex: 1;
    height: 100%; /* Take full height of the container */
}

#search-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}
.forecast-day {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


.navbar {
    background-color: #FFF;
}

i {
    color: #1561e5;
}

#map {
    width: 97%;
    height: 50vh;
    margin: 1.5em;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 1em;
    padding: 0;
    text-decoration: underline;
    color: #e1d068 !important;
}

h3 {
    color: #f3d00b !important;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forecast-card {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 15px #336699;
    background-color: #fff;

    /* Adjust the size properties with relative units for responsiveness */
    width: 200px; /* Take full width of the container */
    max-width: 300px; /* Set a maximum width to prevent it from becoming too wide */
}

/* Example styles for elements inside .forecast-card */
.forecast-card h2 {
    /* Adjust heading styles */
    font-size: 1.5em; /* Responsive font size using em units */
    margin-bottom: 5px; /* Add space below the heading */
    color: #6d0921;
}

.forecast-card p {
    /* Adjust paragraph styles */
    font-size: 1em; /* Responsive font size using em units */
    margin-bottom: 10px; /* Add space below paragraphs */
}

/* Media query for adjusting styles for smaller screens */
@media (max-width: 600px) {
    .forecast-card {
        width: 100%; /* Take full width of the container for small screens */
    }

    /* Example styles for elements inside .forecast-card on smaller screens */
    .forecast-card h2 {
        font-size: 1em; /* Adjusted font size for smaller screens */
    }

    .forecast-card p {
        font-size: .5em; /* Adjusted font size for smaller screens */
    }
}


.search-bar {
    margin: auto;
    display: flex;
    justify-content: center;
}

.search-label {
    background-color: #083D77;
    color: #fff;
}

#zoom-label {
    margin: 1em;
}